ENVIRONMENT=dev
AUTH_TOKEN_EXPIRES=2592000

AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key

BASE_URL=https://localhost.com/

DATABASE_URL=postgres://user_name:password@host:port/db_name

DEBUG=True

FRONT_END_PASSWORD_RESET_URL=https://frontend.herokuapp.com/reset-password/reset-password
FRONT_END_REGISTRATION_URL=https://frontend.herokuapp.com/register
FRONT_END_URL=https://frontend.herokuapp.com

PASSWORD_RESET_SALT=your_password_reset_salt

REDIS_URL=rediss://:password@host:port

S3_BUCKET_NAME=your_s3_bucket_name

SECRET_KEY=your_secret_key

SENDGRID_API_KEY=your_sendgrid_api_key
SENDGRID_EMAIL_ADDRESS=your_sendgrid_email_address

SQLALCHEMY_TRACK_MODIFICATIONS=False

TWILIO_NUMBER=+1xxxxxxxxxx
TWILIO_SID=your_twilio_sid
TWILIO_TOKEN=your_twilio_token

CRYPTO_KEY=your_crypto_key

SUPPRESSION_LIST_ALERT_TO=email1@example.com, email2@example.com

TIME_ZONE=Asia/Kolkata

STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret

INVITATION_EMAIL_TO=email1@example.com, email2@example.com
